<!-- wp:template-part {"slug":"header","theme":"doitunique-blocks","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}},"className":"site-main"} -->
<main class="wp-block-group site-main" style="margin-top:0">
    <!-- wp:template-part {"slug":"hero","theme":"doitunique-blocks"} /-->
    
    <!-- wp:template-part {"slug":"workshop","theme":"doitunique-blocks"} /-->

    <!-- wp:template-part {"slug":"testimonial","theme":"doitunique-blocks"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"doitunique-blocks","tagName":"footer","className":"site-footer"} /--> 